* {
   box-sizing: border-box;
}

:root{
   --black: #000000;
   --violet: #502F4C;
   --light-violet: #70587C;
   --lavanda: #C8B8DB;
   --snow: #F9F4F5;
}

.s-container{
   background-color: var(--lavanda);
}
.header{
   background-color: var(--light-violet);
}
.c-header__content{
   color: var(--snow);
}
.c-header__foot{
   background-color: var(--violet);
}
.c-header__nav__link{
   color: var(--black);
   font-weight: 600;
}

.s-title{
   cursor: default;
}
.u-emphasis{
   font-weight: 500;
}

@media only screen and (min-width: 992px) {
   .s-container{
      height: 100vh;
   }

   .header{
      height: 12.5%;
      background-color: var(--light-violet);
   }
   .c-header__content{
      height: 80%;
      color: var(--snow);
   }
   .c-header__foot{
      height: 20%;
      background-color: var(--violet);
   }

   .main{
      height: 87.5%; 
   }
}